.tabbed-layout-container {
    padding: 40px;
    background-color: #ffffff;
  }
  
  .ant-tabs-tab {
    font-size: 0.8rem !important;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .ant-tabs-tab:hover,
  .ant-tabs-tab-active {
    color: #d4a373; 
    border-bottom: 2px solid #d4a373;
  }
  
  .tab-image-container {
    border: 1px solid #e8e8e8;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  }
  
  .tab-image {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  .tab-description {
    margin-bottom: 20px;
  }
  
  .tab-feature-item {
    margin-bottom: 10px;
    text-align: left;
  }
  .extra-design{
    text-align: left;
  }
  
  .feature-icon {
    color: #52c41a; 
    margin-right: 10px;
  }
  
  .read-more-button:hover {
    background-color: #f0f0f0;
  }
  .tabs-section_services {
    margin-top: 2rem;
  }

  .main-title_services {
    margin-bottom: 0.5rem;
  }
  .header-section_services {
    padding: 1rem 2rem;
    border-radius: 10px;
  }
  .main_container_services {
    padding: 50px;
    background-color: #f9f9f9;
    text-align: center;
  }  

  .tab-nav-btn{
    padding: 0px 30px;
    margin: 0px 20px;
  }

  @media (max-width: 768px) {
    .ant-tabs-tab {
      font-size: 0.5rem !important;
      font-weight: bold;
      text-transform: uppercase;
    }
    .tabbed-layout-container {
      padding: 5px;
      background-color: #ffffff;
    }

    .main_container_services {
      padding: 5px;
    }  
    .header-section_services {
      padding: 10px 20px;
      border-radius: 10px;
    }
  }