.image-card {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 1px solid #ddd;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.image-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.client-image {
    max-width: 100%;
    max-height: 120px;
    object-fit: contain;
    border-radius: 10px;
}

body {
    background-color: #f7f7f7;
    margin: 0;
    font-family: Arial, sans-serif;
}

.ant-layout {
    background-color: #f7f7f7;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto; 
    text-align: center;
}

.main-title_clients {
    margin-bottom: 0.5rem;
  }

  .header-section_clients {
    padding: 1rem 2rem;
    border-radius: 10px;
  }
  .main-container_clients {
    padding: 50px;
    background-color: #f9f9f9;
    text-align: center;
  }  

  
@media (max-width: 768px) {
    .main-container_clients {
        padding: 5px;
    }  
    .header-section_clients {
      padding: 10px 20px;
      border-radius: 10px;
    }
  }